<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Gather Content  email-->
    <add key="Email" value=""/>
    <!--Api key for Gather Content-->
    <add key="ApiKey" value=""/>
    <!--Account Id for Gather Content-->
    <add key="AccountId" value=""/>
    <!--Firstname of Gather Content account-->
    <add key="FirstName" value=""/>
    <!--Lastname of Gather Content account-->
    <add key="LastName" value=""/>
    <!--Project Id of Gather Content-->
    <add key="ProjectId" value=""/>
    <!--Template Id of Gather Content-->
    <add key="TemplateId" value=""/>
    <!--Item Id of Gather Content-->
    <add key="ItemId" value=""/>
    <!--Status Id of Gather Content-->
    <add key="StatusId" value=""/>
    <!--Parent Id of Gather Content-->
    <add key="ParentId" value=""/>
    <!--Project Name of Gather Content-->
    <add key="ProjectName" value=""/>
    <!--Project Type of Gather Content-->
    <add key="ProjectType" value=""/>
    <!--Item Name of Gather Content-->
    <add key="ItemName" value=""/>
  </appSettings>
</configuration>