<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Gather Content  email-->
    <add key="Email" value="__email__"/>
    <!--Api key for Gather Content-->
    <add key="ApiKey" value="__apikey__"/>
    <!--Account Id for Gather Content-->
    <add key="AccountId" value="__accountid__"/>
    <!--Firstname of Gather Content account-->
    <add key="FirstName" value="__firstname__"/>
    <!--Lastname of Gather Content account-->
    <add key="LastName" value="__lastname__"/>
    <!--Project Id of Gather Content-->
    <add key="ProjectId" value="__projectid__"/>
    <!--Template Id of Gather Content-->
    <add key="TemplateId" value="__templateid__"/>
    <!--Item Id of Gather Content-->
    <add key="ItemId" value="__itemid__"/>
    <!--Status Id of Gather Content-->
    <add key="StatusId" value="__statusid__"/>
    <!--Parent Id of Gather Content-->
    <add key="ParentId" value="__parentid__"/>
    <!--Project Name of Gather Content-->
    <add key="ProjectName" value="__projectname__"/>
    <!--Project Type of Gather Content-->
    <add key="ProjectType" value="__projecttype__"/>
    <!--Item Name of Gather Content-->
    <add key="ItemName" value="__itemname__"/>
  </appSettings>
</configuration>