<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clear />
    <add key="MavPack" value="\\devweb7.campus.mnsu.edu\Webroot\secure-devweb7\nuget\Packages" />
    <!--<add key="nutest" value="https://devweb7-secure.mnsu.edu/Staging2/nuget" />-->
    <!-- also get packages from the NuGet Gallery -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>